div, * {
	//outline: 1px solid rgba(black, 0.5);
	box-sizing: border-box;
}

body {
	font-family: $fontStack;
	font-size: $fontSize;
	color: $colourPrimary;
	background: $colourBackground;
	overflow-x: hidden;
}
